* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
    background: url('http://adamromanski.nazwa.pl/images/space.jpg') no-repeat;
    background-size: cover;

}

.text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
    font-family: 'Montserrat', sans-serif;
    width: 30em;
    margin: 3em;
    border-left: 6px solid white;
    padding-left: 1em;
    height: 8em;
}

h1 {
    margin: 0;
}

p {
margin: 1em 0 0 0;
}

p {
    font-weight:300;
}

p:last-child {
    font-size: .65em;
}

/* linear-gradient(#330867 0%, #30cfd0 100%); */